.footer {
    grid-column: full-start / full-end;
    display: flex;
    align-items: center;
    background-color: #03297E;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    margin: 0 auto;
    font-size: 1.33rem;
    padding: 4.3rem 7.2%;
    color: white;

    @include respond(tab-land){
        flex-direction: column;
    }

    &__logo{
        width: 20rem;
        margin-bottom: 1rem;
    }

    &__text{
        font-size: 1.4rem;
        margin-bottom: 1.8rem;
        
        @include respond(tab-land){
            font-size: 1.8rem;
        }
    }

    &__quem-somos{
        width: 33%;
        @include respond(tab-land){
            width: 100%;
        }
    }

    &__midias-sociais{
        width: 36%;
        display: flex;

        @include respond(tab-land){
            width: 100%;
            order: 3;
        }
        &--box{
            background-color: #022678;
            border-radius: 3.1rem;
            width: 33rem;
            display: flex;
            align-items: center;
            margin: 0 auto;
            font-weight: 600;
            font-size: 1.5rem;
            padding: 4.2rem 1rem;

            div{
                width: 55%;
                margin-left: 1.2rem;

                @include respond(tab-land){
                    margin-left: 1rem;
                }
            }

            @include respond(tab-land){
                width: 100%;
                margin-top: 3rem;
                font-size: 2rem;
            }
        }
        &--list{
            width: 60%;
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            @include respond(tab-land){
                gap: 1rem;
                width: 44%;
            }
        }

        &--img{
            margin: .7rem;
            width: 2.5rem;
        }
    }

    &__contato{
        
        width: 30%;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 2.2rem;

        &-item{
            display: flex;

            &:not(:last-of-type){
                margin-bottom: 2.1rem;
            }

            @include respond(tab-land){
                font-size: 1.8rem;
            }
        }

        &-icon{
            align-self: center;
            padding-right: 1.7rem;
        }

        @include respond(tab-land){
            width: 100%;
            margin-top: 3.4rem;
        }
    }

    &__copy{
        font-weight: 600;
        font-size: 1.2rem;
    }
}
