
.form {
    text-transform: uppercase;
    width: 100%;
  
    &__input-box {
      &:not(:first-of-type) {
        margin-top: 1.5rem;
      }

      &:last-of-type{
        margin-bottom: 6rem;
      }
  
      @include respond(tab-land) {
        margin-top: 3.5rem;
      }
    }
    input,
    textarea {
      width: 100%;
      border-style: none;
      padding: 1.4rem;
      font-size: 1.6rem;
      border-bottom: 1px solid white;
  
      &::placeholder {
        opacity: 0.8;
        font-size: 1.6rem;
        font-weight: 500;
        letter-spacing: -0.222px;
        line-height: 2.6rem;
        padding-left: 1rem;
        text-transform: uppercase;
      }
  
      @include respond(tab-land) {
        margin-top: 2rem;
        &::placeholder {
          font-size: 1.8rem;
        }
      }
  
      @include respond(phone) {
        &::placeholder {
          font-size: 2rem;
        }
      }
    }
  
    input,
    textarea,
    button {
      color: white;
      font-family: "Space Grotesk", sans-serif;
      background-color: transparent;
  
      &:focus {
        outline: none;
      }
    }
  
    textarea {
      height: 13rem;
      resize: none;
    }
  
    input[type="email"]:invalid {
      background-image: url("../../assets/warning.svg");
      background-repeat: no-repeat;
      background-position: 100%;
    }
  
    .btn{
      display: block;
    }
  }
  