.header {
  color: white;
  height: 100vh;
  grid-column: center-start / center-end;
  position: relative;
  border-bottom: 1px solid $color-white;

  &::after {
    content: "";
    width: 13rem;
    height: 13rem;
    background-image: url("../../assets/background-oval.png");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    bottom: 20%;
    right: 31.4%;
  }

  &::before {
    content: "";
    width: 44rem;
    height: 72rem;
    background-color: $color-grey-dark;
    background-image: url("../../assets/developer.png");
    background-position: 80% 100%;
    background-repeat: no-repeat;
    background-size: 140%;
    position: absolute;
    top: 0;
    right: 0;
    animation-name: developerImgAnimation;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }
  @include respond(tab-land) {
    height: 53.5vh;

    &::after {
      bottom: 8.5%;
      right: -7.5%;
    }

    &::before {
      top: 0;
      right: -5%;
    }

    span {
      position: relative;
      &::after {
        content: "";
        background-color: $color-green;
        height: 6px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }

  @include respond(phone) {
    height: 90rem;

    &::after {
      right: -20%;
      top: 31%;
      width: 16rem;
      height: 16rem;
    }

    &::before {
      right: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 50%;
      height: 45rem;
      z-index: 1;
      animation: none;
    }
  }

  &__text-box {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    @include respond(phone) {
      top: 71%;
      text-align: center;
    }
  }

  .heading-primary {
    @include respond(phone) {
      font-size: 4.5rem;
      line-height: 4.5rem;
    }
  }

  .matheusEli {
    position: relative;
  }

  .matheusEli::after {
    content: "";
    background-color: $color-green;
    height: 6px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .paragraph {
    margin-bottom: 6rem;
  }
}
