.projects {
  grid-column: center-start / center-end;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8rem;

  h2 {
    font-size: 8.8rem;
    line-height: 8.8rem;
    letter-spacing: -2.5px;
    font-weight: 700;
    display: inline-block;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 7rem;
    list-style: none;
    margin-top: 8rem;

    li {
      width: 48%;
      position: relative;

      &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 40rem;
        background-color: black;
        content: "";
        opacity: 0;
        transition: all 0.3s;
      }

      &:hover {
        &::after {
          opacity: 0.75;
        }
        div {
          opacity: 1;
        }
      }

      div {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        opacity: 0;
        transition: all 0.3s;
        display: flex;
        flex-direction: column;

        a {
          background-color: transparent;
          text-align: center;
          margin: 0 auto;
          color: white;
          text-transform: uppercase;
          margin-left: auto;
          display: inline-block;
          font-size: 1.6rem;
          font-weight: 700;
          line-height: 2.6rem;
          letter-spacing: 2.286px;
          cursor: pointer;
          margin-top: 6rem;
          position: relative;
          border-style: none;

          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #4ee1a0;
            bottom: -0.5rem;
            left: 0;
            transition: all 0.2s ease-out;
          }

          &:hover {
            color: #4ee1a0;
            &::after {
              transform: scaleY(3);
            }
          }
        }
      }

      figcaption {
        color: var(--Grey, #d9d9d9);
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 2.8rem;
        text-transform: uppercase;
      }

      h5 {
        color: white;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 3.2rem;
        font-feature-settings: "clig" off, "liga" off;
        margin-top: 2rem;
      }

      img {
        width: 100%;
        height: 40rem;
        object-fit: cover;
        object-position: top;
      }
    }
  }

  h6 {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.6rem;
    letter-spacing: 2.286px;
    cursor: pointer;
    display: inline-block;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #4ee1a0;
      bottom: -0.5rem;
      left: 0;
      transition: all 0.2s ease-out;
    }

    &:hover {
      &::after {
        transform: scaleY(3);
      }
    }
  }
}
